<form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">
    <mat-form-field appearance="legacy">
      <mat-label>Username</mat-label>
      <input matInput #UserName="ngModel" name="UserName" [(ngModel)]="loginModel.userName" required>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput type="password" #Password="ngModel" name="Password" [(ngModel)]="loginModel.password" required>
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Login</button>
    </div>
</form>