@import '../../../styles/styles.scss';


  

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100vh;
    min-height: 100vh;

    background-color: $accent;
}

.wrapped-div {
    padding: 10px;
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.wrapped-div.register {
    height: 500px;
}

.tab-header {
    display: flex;
    justify-content: space-around;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $accent;
}

.row {
    flex-grow: 1;
}

.tab-header h2.active {
    color: $accent;
    border-bottom: 4px solid $accent;
  }

.tab-header h2 {
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: $firstcolor;
    border-bottom: 2px solid $firstcolor;
}

