:host {
    width: 100%;
    height: 100%;
}

.header {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 500;
    background-color: #0093ff;
    color: azure;
}

.content {
    background-color: azure;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.personal-info {
    display: flex;
    gap: 10px;
    width: 100%;
}

.username-role {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.account-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: medium;
    gap: 30px;
}

.passwords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.password-field {
    width: 100%;
}

mat-form-field {
    flex-grow: 1;
}