:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

table {
    width: 100%;
    flex-grow: 1;
}

.mat-elevation-z8 {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
}

.clickable {
    cursor: pointer;
}