.example-spacer {
    flex: 1 1 auto;
}

.home-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.navigation-container,
.navigation-sidenav {
  flex-grow: 1;
}

.navigation-sidenav {
  width: 100px;
}

.sidenav-toggle-grp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenav-button {
  width: 100%;
  height: 100px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}