mat-sidenav-content {
  display: flex;
}

.example-spacer {
    flex: 1 1 auto;
}

.home-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.navigation-container,
.navigation-sidenav {
  flex-grow: 1;
}

.navigation-sidenav {
  width: 100px;
}

.sidenav-toggle-grp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenav-button {
  width: 100%;
  height: 75px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dfdede;;
}

.top-sidenav-button {
  border-top: solid 1px;
  border-color: #dfdede;;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

mat-button-toggle-group {
  height: 100%;
  width: 100%;
}