<form [formGroup]="stationForm">
    <mat-form-field appearance="legacy">
        <mat-label>Location</mat-label>
        <input matInput type="text" formControlName="location" />
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Arrival time</mat-label>
        <input matInput type="text" formControlName="arrivalTime" />
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Departure time</mat-label>
        <input matInput type="text" formControlName="departureTime" />
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Distance</mat-label>
        <input matInput type="text" formControlName="distance" />
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Line</mat-label>
        <input matInput type="text" formControlName="line" />
    </mat-form-field>
</form>