<div class="w-75 ph-2">
  <div class="w-100 d-flex flex-nowrap align-items-center" style="height: 52px;">
    <div class="w-100 h-100">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
    </div>
    <div class="h-100">
      <button class="h-100" mat-raised-button color="primary">
        <mat-icon>
          add
        </mat-icon>
      </button>
    </div>
  </div>
</div>
