:host,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.content {
  flex-grow: 1;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

::ng-deep .mat-form-field-flex {

}

button {
  border-radius: 0px;
}
