:host {
    flex-grow: 1;
    display: flex;
}

mat-tab-group {
    flex-grow: 1;
}

.type-step-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itinerary-header {
    display: flex;
}

.itinerary-header-spacer {
    flex-grow: 1;
}

.itinerary-info-container {
    display: flex;
    gap: 30px;
}

.station-same-input-containers {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
}

mat-form-field {
    width: 100%;
}