<mat-tab-group mat-align-tabs="center" dynamicHeight="true">
    <mat-tab label="View Trains">
      <div class="test"></div>
    </mat-tab>
  <mat-tab label="Add Train">

    <mat-stepper class="add-train-" [linear]="false" #stepper>
      <mat-step [stepControl]="trainTypeFormGroup">
        <form [formGroup]="trainTypeFormGroup">
          <ng-template matStepLabel>Choose train type</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <input matInput formControlName="trainType" required>
          </mat-form-field>
          <div class="type-step-button-container">
            <button color="primary" mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="stations">
        <form [formGroup]="stations">
          <ng-template matStepLabel>Create itinerary</ng-template>

          <div class="itinerary-header">
            <button mat-raised-button color="primary" (click)="addStation()">Add station</button>
            <div class="itinerary-header-spacer"></div>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>

          <div class="itinerary-info-container">
            <ng-container formArrayName="locations">
              <div class="station-same-input-containers">
                <div *ngFor="let location of locations.controls; let i=index">
                  <mat-form-field appearance="legacy">
                    <mat-label>Location</mat-label>
                    <input matInput type="text" [formControlName]="i" />
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
            <ng-container formArrayName="arrivals">
              <div class="station-same-input-containers">
                <div *ngFor="let arriveTime of arrivals.controls; let i=index">
                  <mat-form-field appearance="legacy">
                    <mat-label>Arrive time</mat-label>
                    <input matInput type="time" [formControlName]="i" />
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
            <ng-container formArrayName="departures">
              <div class="station-same-input-containers">
                <div *ngFor="let departureTime of departures.controls; let i=index">
                  <mat-form-field appearance="legacy">
                    <mat-label>Departure time</mat-label>
                    <input matInput type="time" [formControlName]="i" />
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
            <ng-container formArrayName="distances">
              <div class="station-same-input-containers">
                <div *ngFor="let distance of distances.controls; let i=index">
                  <mat-form-field appearance="legacy">
                    <mat-label>Distance</mat-label>
                    <input matInput type="number" [formControlName]="i" />
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
            <ng-container formArrayName="lines">
              <div class="station-same-input-containers">
                <div *ngFor="let line of lines.controls; let i=index">
                  <mat-form-field appearance="legacy">
                    <mat-label>Line</mat-label>
                    <input matInput type="number" [formControlName]="i" />
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </mat-tab>
  <mat-tab label="Edit Train">

  </mat-tab>
</mat-tab-group>